/* Just to check structuring */
/* * {
  border: 1px solid red;
} */

.heading {
  margin: 7px;
}
/* Structuring player-board */
#player-board {
  border: 2px solid darkgrey;
  border-radius: 10px;
  text-align: center;
  width: 450px;
  height: 350px;
}

/* Structuring display */
.display {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  height: 100px;
  justify-content: center;
  gap: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
.left-display,
.right-display {
  flex: 1;
}

/* structuring contoll board */
.console {
  height: 200px;
  margin-top: 25px;
}

button {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
